@import "tailwindcss";

@theme inline {
  --color-background: light-dark(var(--color-white), var(--color-zinc-950));
  --color-foreground: light-dark(var(--color-zinc-950), var(--color-zinc-50));
}

@theme static {
  --color-up: var(--color-green-500);
  --color-down: var(--color-red-500);
  --color-neutral: var(--color-gray-500);
}

:root {
  color-scheme: light dark;
  @apply bg-background text-foreground antialiased transition-colors;
}
