:root {
	--background-color: #0a0a0a;
	--text-color: #ededed;
	--alpha-hover: 75%;
	--up-color: #62c073;
	--up-hover-color: hsl(from var(--up-color) h s l / var(--alpha-hover));
	--down-color: #ff6166;
	--down-hover-color: hsl(from var(--down-color) h s l / var(--alpha-hover));
	--spotty-color: #f2a20d;
	--spotty-hover-color: hsl(from var(--spotty-color) h s l / var(--alpha-hover));
	--non-data-color: #a1a1a1;
	--non-data-hover-color: hsl(from var(--non-data-color) h s l / var(--alpha-hover));
	--text-font-size: 1.25rem;
	--text-with-background-color: #ededed;
	--viewport-width-name: small;

	/*
	These font variables shouldn't really be used outside this file.

	Instead, use the classes defined in fonts.scss on elements.

	These are here for making this base sheet apply styles to some element
	selectors by default (h1, h2, ...). If you use them, you have to make sure
	that you're also setting the font-weight and font-style correctly, or else
	the browser may not find what you're trying to use.
	*/
	--display-black-font-family: 'AT-NameSans-Display-Black', sans-serif;
	--display-black-italic-font-family: 'AT-NameSans-Display-Black-Italic', sans-serif;
	--display-bold-font-family: 'AT-NameSans-Display-Bold', sans-serif;
	--display-bold-italic-font-family: 'AT-NameSans-Display-Bold-Italic', sans-serif;
	--display-regular-font-family: 'AT-NameSans-Display-Regular', sans-serif;
	--display-italic-font-family: 'AT-NameSans-Display-Italic', sans-serif;

	--standard-black-font-family: 'AT-NameSans-Standard-Black', sans-serif;
	--standard-black-italic-font-family: 'AT-NameSans-Standard-Black-Italic', sans-serif;
	--standard-bold-font-family: 'AT-NameSans-Standard-Bold', sans-serif;
	--standard-bold-italic-font-family: 'AT-NameSans-Standard-Bold-Italic', sans-serif;
	--standard-regular-font-family: 'AT-NameSans-Standard-Regular', sans-serif;
	--standard-italic-font-family: 'AT-NameSans-Standard-Italic', sans-serif;

	--text-black-font-family: 'AT-NameSans-Text-Black', sans-serif;
	--text-black-italic-font-family: 'AT-NameSans-Text-Black-Italic', sans-serif;
	--text-bold-font-family: 'AT-NameSans-Text-Bold', sans-serif;
	--text-bold-italic-font-family: 'AT-NameSans-Text-Bold-Italic', sans-serif;
	--text-regular-font-family: 'AT-NameSans-Text-Regular', sans-serif;
	--text-italic-font-family: 'AT-NameSans-Text-Italic', sans-serif;
}

*,
::before,
::after {
	box-sizing: border-box;
}

body,
svg text {
	color: var(--text-color);
	font-size: var(--text-font-size);
	font-family: var(--text-regular-font-family);
	font-weight: 400;
	font-style: normal;
	line-height: 1.25;
}

body {
	background-color: var(--background-color);
}

ol,
ul {
	margin-block-end: 2em;
	padding-inline-start: 2em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
	margin-bottom: 1em;
}

li {
	margin-bottom: 0.5em;
}

h1 {
	font-size: 2.5rem;
	font-family: var(--display-black-font-family);
	font-weight: 900;
	font-style: normal;
}

h2 {
	font-size: 2rem;
	font-family: var(--standard-black-font-family);
	font-weight: 700;
	font-style: normal;
}

h3 {
	font-size: 1.75rem;
	font-family: var(--standard-bold-italic-font-family);
	font-weight: 700;
	font-style: normal;
}

h4 {
	font-size: 1.5rem;
	font-family: var(--standard-bold-font-family);
	font-weight: 700;
	font-style: normal;
}

h5 {
	font-size: 1.25rem;
	font-family: var(--standard-bold-italic-font-family);
	font-weight: 700;
	font-style: normal;
}

h6 {
	font-size: 1rem;
	font-family: var(--standard-bold-font-family);
	font-weight: 700;
	font-style: normal;
}

em {
	font-style: italic;
}

a, .link-button {
	color: var(--up-color);
	text-decoration: underline;
}

a:visited {
	color: var(--up-color);
}

a:hover, .link-button:hover {
	color: var(--up-hover-color);
}

a:focus, .link-button:focus {
	outline: 0.15em dashed var(--up-color);
	outline-offset: 0.1em;
	border-radius: 0.25em;
}

button {
	color: var(--text-color);
	background: none;
	border: none;
	cursor: pointer;
}

@media (min-width: 80ch) {
	:root {
		--viewport-width-name: medium;
	}
}

@media (min-width: 120ch) {
	:root {
		--viewport-width-name: large;
	}
}
