/* https://www.arrowtype.com/name-sans */

/* 
Display

Best for large-scale headlines and logotypes. Has dramatic detailing,
slightly daring proportions, and tight spacing for maximum impact at large
sizes, but doesn’t work very well in small or far-away text.
*/
@font-face {
  font-family: 'AT-NameSans-Display-Black';
  src: url('/fonts/at-name-sans-display-black.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'AT-NameSans-Display-Black-Italic';
  src: url('/fonts/at-name-sans-display-black-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: 'AT-NameSans-Display-Bold';
  src: url('/fonts/at-name-sans-display-bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'AT-NameSans-Display-Bold-Italic';
  src: url('/fonts/at-name-sans-display-bold-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'AT-NameSans-Display-Regular';
  src: url('/fonts/at-name-sans-display-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'AT-NameSans-Display-Italic';
  src: url('/fonts/at-name-sans-display-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
}
.display-black {
  font-family: 'AT-NameSans-Display-Black', sans-serif;
  font-style: normal;
  font-weight: 900;
}
.display-black-italic {
  font-family: 'AT-NameSans-Display-Black-Italic', sans-serif;
  font-style: italic;
  font-weight: 900;
}
.display-bold {
  font-family: 'AT-NameSans-Display-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
}
.display-bold-italic {
  font-family: 'AT-NameSans-Display-Bold-Italic', sans-serif;
  font-style: italic;
  font-weight: 700;
}
.display-regular {
  font-family: 'AT-NameSans-Display-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
}
.display-italic {
  font-family: 'AT-NameSans-Display-Italic', sans-serif;
  font-style: italic;
  font-weight: 400;
}

/*
Standard

Best for medium-sized headlines and shorter pieces of text. Spaced similarly
to other common sans-serif fonts, so you can use it anywhere, in a pinch,
especially if you dial in the appropriate tracking / letter-spacing.
*/
@font-face {
  font-family: 'AT-NameSans-Standard-Black';
  src: url('/fonts/at-name-sans-standard-black.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'AT-NameSans-Standard-Black-Italic';
  src: url('/fonts/at-name-sans-standard-black-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: 'AT-NameSans-Standard-Bold';
  src: url('/fonts/at-name-sans-standard-bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'AT-NameSans-Standard-Bold-Italic';
  src: url('/fonts/at-name-sans-standard-bold-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'AT-NameSans-Standard-Regular';
  src: url('/fonts/at-name-sans-standard-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'AT-NameSans-Standard-Italic';
  src: url('/fonts/at-name-sans-standard-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
}
.standard-black {
  font-family: 'AT-NameSans-Standard-Black', sans-serif;
  font-style: normal;
  font-weight: 900;
}
.standard-black-italic {
  font-family: 'AT-NameSans-Standard-Black-Italic', sans-serif;
  font-style: italic;
  font-weight: 900;
}
.standard-bold {
  font-family: 'AT-NameSans-Standard-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
}
.standard-bold-italic {
  font-family: 'AT-NameSans-Standard-Bold-Italic', sans-serif;
  font-style: italic;
  font-weight: 700;
}
.standard-regular {
  font-family: 'AT-NameSans-Standard-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
}
.standard-italic {
  font-family: 'AT-NameSans-Standard-Italic', sans-serif;
  font-style: italic;
  font-weight: 400;
}

/*
Text

Best for running text and small text, such as captions. Includes more generous
spacing and open detailing to improve legibility. Also good for text that may be far
away from the reader, such as directional signage.
*/
@font-face {
  font-family: 'AT-NameSans-Text-Black';
  src: url('/fonts/at-name-sans-text-black.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'AT-NameSans-Text-Black-Italic';
  src: url('/fonts/at-name-sans-text-black-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: 'AT-NameSans-Text-Bold';
  src: url('/fonts/at-name-sans-text-bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'AT-NameSans-Text-Bold-Italic';
  src: url('/fonts/at-name-sans-text-bold-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'AT-NameSans-Text-Regular';
  src: url('/fonts/at-name-sans-text-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'AT-NameSans-Text-Italic';
  src: url('/fonts/at-name-sans-text-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
}
.text-black {
  font-family: 'AT-NameSans-Text-Black', sans-serif;
  font-style: normal;
  font-weight: 900;
}
.text-black-italic {
  font-family: 'AT-NameSans-Text-Black-Italic', sans-serif;
  font-style: italic;
  font-weight: 900;
}
.text-bold {
  font-family: 'AT-NameSans-Text-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
}
.text-bold-italic {
  font-family: 'AT-NameSans-Text-Bold-Italic', sans-serif;
  font-style: italic;
  font-weight: 700;
}
.text-regular {
  font-family: 'AT-NameSans-Text-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
}
.text-italic {
  font-family: 'AT-NameSans-Text-Italic', sans-serif;
  font-style: italic;
  font-weight: 400;
}
