@font-face {
	font-family: 'ATNameSansDisplayTrial-Black';
	src: url('/fonts/ATNameSansDisplayTrial-Black.otf') format('opentype');
}
@font-face {
	font-family: 'ATNameSansDisplayTrial-BlackItalic';
	src: url('/fonts/ATNameSansDisplayTrial-BlackItalic.otf') format('opentype');
}
@font-face {
	font-family: 'ATNameSansDisplayTrial-Regular';
	src: url('/fonts/ATNameSansDisplayTrial-Regular.otf') format('opentype');
}

/* Define default (light mode) colors */
:root {
	--background-color: #fafafa;
	--text-color: #171717;
	--up-color: #62c073;
	--down-color: #ff6166;
	--spotty-color: #f2a20d;
	--non-data-color: #666666;
}

/* Define dark mode colors */
@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #0a0a0a;
		--text-color: #ededed;
		--non-data-color: #a1a1a1;
	}
}

/* Apply the colors to the body and other elements */
body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: 'ATNameSansDisplayTrial-Regular', sans-serif;
}

a {
	color: var(--text-color);
	text-decoration: underline;
}

a:visited {
	color: var(--text-color);
}

a:hover {
	color: var(--up-color);
}

a:focus {
	outline: 0.2em dashed var(--up-color);
	outline-offset: 0.3em;
	border-radius: 0.25em;
}

button {
	color: var(--text-color);
	background: none;
	border: none;
	cursor: pointer;
}
